<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="c0f88f19-56c6-4331-873d-589329765680"
    Publisher="CN=Izzuddin"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c0f88f19-56c6-4331-873d-589329765680" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Qatalyst</DisplayName>
    <PublisherDisplayName>Izzuddin</PublisherDisplayName>
    <Logo>Assets\icon_256.ico</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Qatalyst"
        Description="Qatalyst"
        Square44x44Logo="Assets\icon_44.ico"
        Square150x150Logo="Assets\icon_150.ico"
        Square310x310Logo="Assets\icon_256.ico"
        Wide310x150Logo="Assets\icon_256.ico"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
